<li>
  {{rental.owner}}'s {{rental.type}} in {{rental.city}} <br>
  {{#link-to 'rental' rental.id}} Click to View more details {{/link-to}} <br> <br>
    <!--We intentionally replaced "{{rental.owner}}'s {{rental.type}} in {{rental.city}}" with "Click to View more Details" for fun :)-->
  {{#if isImageShowing}}
      <p> <img src={{rental.image}} alt={{rental.type}} height="600" width="700"/></p>
      <button {{action 'imageHide'}}>Hide Image</button>
    {{else}}
      <button {{action 'imageShow'}}> Show Image</button>
  {{/if}}
   <br>
   <hr>
</li>


<!--Basicaly whats happening here is that we are refactoring our code by removing the above code from
index.js , creating a vaiable which in return that code removed id brought here and referred to

Remember we said components affect how a template behaves we are noe going to add functionality to this components b trying
show and hide images-->
